body {
    font-family: Arial;
    margin: 0;
}

.content {
    width: 400px;
    padding: 10px;
}

.main_title {
    text-align: center;
    background-color: cadetblue;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 25px;
    border-bottom: solid 1px slategray;
}

.form_title {
    color: cadetblue;
    font-weight: bold;
    border-bottom: solid 1px lightgray;
    margin-bottom: 5px;
}

